
main .media {
  padding: 3rem;
}

main .media:nth-child(odd) {
  background-color: #00000050;
}

main .media:nth-child(even) {
  background-color: #00000030;
}

main .media:nth-child(even) .media-body {
  order: 0;
}

main .media img {
  width: 180px;
  height: 180px;
}
main .media:nth-child(even) img {
  order: 1;
}
