#charts {
  height: 80%;
  margin-top: 5px;
}

@media (min-width: 990px) {
  #filters {
    height: 80%;
  }

  #filters input,
  #filters select {
    width: 98%;
  }
}

@media (max-width: 990px) {
  .page-header {
    padding-bottom: 4px;
  }
  .page-header h1 {
    font-size: 1.7em;
    margin: 5px 0 0 0;
  }
}

#filters.panel {
  padding: 0;
  border-radius: 0;
}

.panel-heading,
.panel-body {
  padding: 5px;
}

#filters input,
#filters select {
  margin: 3px;
  color: black;
}

.page-header {
  margin: 0;
  margin-left: 10px;
}

.page-header h1 {
  font-size: 2.2em;
  margin: 10px 0 0 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  margin: 1px 0 0 0;
}

.choice > span:first-child {
  text-align: right;
  vertical-align: top;
}
.choice > span:last-child {
  text-align: left;
  vertical-align: top;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6EB9F7;
}

input:hover + .slider:before,
input:focus + .slider:before {
  background-color: #777777;
  box-shadow: 0 0 1px #66CCFF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
   border-radius: 20px;
}

.slider.round:before {
   border-radius: 50%;
} 

